* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background:#060ab2;
  margin: 0;
  overflow: hidden;

}

.score {
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.527);
    text-align: center;
    color: white;
}
h1, h2 {
  color: white;
  margin: 20px 5px 20px 20px;
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
.win-message {
  display: none;
  color: white;
  font-size: 25px;
  font-family: arial;
  margin-top: 30px;
}
#reset-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

#reset-btn:hover {
  background-color: #45a049;
}
@media (max-width: 575px) {
  body {
    overflow: auto;
    height: 100rem;
  }

  .score {
    width: 100%;
    position: static;
    transform: none;
    text-align: center;
    background-color: #060ab2;
  }

  .memory-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }

  .card {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
  }

  .front,
  .back {
    font-size: 14px;
    padding: 10px;
  }

  #reset-btn {
    width: 100%;
    margin-top: 10px;
  }

  .win-message {
    font-size: 18px;
  }
}
#fireworksCanvas {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

